absl-py @ file:///D:/bld/absl-py_1598382479526/work
asgiref==3.2.10
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
certifi==2020.6.20
credentials==1.1
dj-database-url==0.5.0
Django==3.1.1
django-pandas==0.6.2
freeze==3.0
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
google-pasta==0.2.0
grpcio @ file:///D:/bld/grpcio_1596715850903/work
gunicorn==20.0.4
h5py @ file:///D:/bld/h5py_1595110299148/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211612489/work
joblib==0.16.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
mkl-service==2.3.0
numpy @ file:///D:/bld/numpy_1597938567428/work
pandas==1.1.1
Pillow==7.2.0
protobuf==3.13.0
psycopg2==2.8.5
pyreadline==2.1
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.2
scipy @ file:///C:/ci/scipy_1597686737426/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
SQLAlchemy==1.3.19
sqlparse==0.3.1
tensorboard==1.14.0
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow_jni-cpu-linux-x86_64-1.14.0.tar.gz
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==2.1.0
urllib3==1.25.10
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
